# VCS
.git
.gitignore


# Dependencies & stores
node_modules
.pnpm-store


# Logs
*.log
logs


# OS / Editor
.DS_Store
Thumbs.db
.vscode
.idea


# Build outputs & caches
dist
coverage
.nyc_output
*.tsbuildinfo
.eslintcache
.cache
.vite
.parcel-cache
.turbo
tmp
temp
**/*.spec.ts
**/*.test.ts


# Dev/CI metadata not needed for build context
.devcontainer
.github
.npmrc


# Env files (keep example templates)
.env
.env.*
!.env.example


# Misc
*.local
